<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<header th:replace="fragments :: header"></header>

<br><br><br><br><br><br>

<table class="table table-striped">
    <thead>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created By</th>
        <th>Edit</th>

    </tr>
    </thead>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>

        <td><a th:href="@{/recipes/view/{id}(id=${recipe.id})}" th:text="${recipe.name}"></a></td>


        <td th:text="${recipe.createdBy}"></td>
        <td>
            <span th:if="${session.user == recipe.userId}">
                <a th:href="@{/recipes/edit/{id}(id=${recipe.id})}">Edit</a>
            </span>
        </td>

    </tr>
</table>

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <a class="nav-link" th:href="@{/recipes/create}"><button type="button" class="btn btn-success">Add New Recipe</button></a>
<br>
            <a class="nav-link" th:href="@{/recipes/delete}"><button type="button" class="btn btn-danger">Delete Recipes</button></a>

        </div>
    </div>
</div>


</body>
</html>
