<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<br><br><br><br><br><br>

<div class="container">
    <h2 class="extra-bold xs-mb05">Recipe Name:<i> <small th:text="${recipe.name}" >Subtitle</small></i></h2>


    <div class="border-top my-3"></div>

    <div class="row">

        <div class="col-sm">
            <h5 class="extra-bold xs-mb05">Cooking Time</h5>
            <p class="xs-text-4 xs-hide md-block" th:text="${recipe.cookingTime} + ' minutes'"></p>
        </div>
        <div class="col-sm">
            <h5 class="extra-bold xs-mb05">Meal Type</h5>
            <p class="xs-text-4 xs-hide md-block" th:text="${recipe.mealType}"></p>
        </div>

        <div class="col-sm">
            <h5 class="extra-bold xs-mb05">Cuisine Type</h5>

            <p class="xs-text-4 xs-hide md-block" th:text="${recipe.cuisineType}"></p>
        </div>

        <div class="col-sm">
            <h5 class="extra-bold xs-mb05">Diet Type</h5>

            <p class="xs-text-4 xs-hide md-block" th:text="${recipe.dietType}"></p>
        </div>

    </div>


</div>

<div class="border-top my-3"></div>

<div class="row">

    <div class="col-lg">
        <h3 class="extra-bold xs-mb05">Ingredients</h3>

    </div>


    <div class="col-lg">
        <h3 class="extra-bold xs-mb05">Instructions</h3>

    </div>
</div>

<div class="row">

    <div class="col-lg">
        <p class="xs-text-4 xs-hide md-block">
            <ul>
                <li>2 teaspoon Olive Oil</li>
                <li>500 gr Chicken Thighs</li>
                <li>500 gr Green Beans</li>
                <li>1 teaspoon salt</li>
                <li>1 teaspoon black pepper</li>
                <li>1/2 cup Basil Pesto</li>

            </ul>




        </p>

    </div>


    <div class="col-lg">
        <p class="xs-text-4 xs-hide md-block" th:text="${recipe.instructions}"></p>

    </div>
</div>



<!--<table class="table table-striped">-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td>Ingredients</td>-->
<!--        <td>Instructions</td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td>To be populated</td>-->
<!--        <td th:text="${recipe.instructions}"></td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td>Meal Type</td>-->
<!--        <td th:text="${recipe.mealType}"></td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td>Cuisine Type</td>-->
<!--        <td th:text="${recipe.cuisineType}"></td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td>Diet Type</td>-->
<!--        <td th:text="${recipe.dietType}"></td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td>Cooking Time</td>-->
<!--        <td th:text="${recipe.cookingTime}"></td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td>Instructions</td>-->
<!--        <td th:text="${recipe.instructions}"></td>-->
<!--    </tr>-->

<!--    <tr>-->
<!--        <td>Created by</td>-->
<!--        <td th:text="${recipe.createdBy}"></td>-->
<!--    </tr>-->

<!--    </tbody>-->
<!--</table>-->

<a class="nav-link" href="/recipes"><button type="button" class="btn btn-primary">Go Back to recipes</button></a>
<br>
<a class="nav-link" th:href="@{/recipes/edit/{id}(id=${recipe.id})}"><button type="button" class="btn btn-danger">Edit</button></a>
</body>
</html>
