<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<header th:replace="fragments :: header"></header>

<br><br><br><br><br><br>

<form method="post" style="max-width:600px;">
<div class="form-group">
    <label th:for="name">Ingredient Name</label>
    <input class="form-control" th:field="${ingredient.name}" />
    <span th:errors="${ingredient.name}" class="error"></span>
</div>


<input type="submit" value="Add Ingredient" />
</form>

<br>

<table class="table table-striped">
    <thead>

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>

    </tr>
    </thead>
    <tr th:each="ingredient : ${ingredients}">
        <td th:text="${ingredient.id}"></td>

        <td th:text="${ingredient.name}"></td>





        <td>


            <a th:href="@{/ingredients/edit/{id}(id=${ingredient.id})}">Edit</a>

        </td>

    </tr>
</table>


</body>
</html>