<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Welcome to Your Digital Recipe Manager' + ${title == null ? '' : ' :: ' + title}">Digital Recipe Manager</title>
</head>
<body>
<nav th:fragment="header">
    <h1 th:text="${title}">Recipes</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/recipes">All Recipes</a></li>
        <li class="nav-item"><a class="nav-link" href="/recipes/create">Create Recipe</a></li>
        <li class="nav-item"><a class="nav-link" href="/recipes/delete">Delete Recipe</a></li>

    </ul>
</nav>

</body>
</html>