<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    // ability to click a hyperlink for 'all recipes' and also click 'profile'
    // TO DO ^^^
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>My Recipe Manager Homepage</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<script src="script.js"></script>
<h1>My Recipe Manager Homepage</h1>
<div id="container">
    <!-- List of recipes will be added here dynamically -->
</div>
</body>
</html>


