<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>

        <link rel="stylesheet" type="text/css" href="@{src/main/resources/static/style}" />

</head>
<body>
<script th:src="@{/script.js}"></script>

<h1 align="center">Recipe Manager </h1>

<h1 align="center">My Recipe Manager Homepage</h1>

<p th:text="'Welcome, ' + ${username}"></p>
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span></div>
<div id="container">
    <header th:replace="fragments :: header"></header>
</div>

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/img/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Digital Recipe Manager</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Create - Learn - Share</p>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
        </div>

        <form th:action="@{/search/search_results}" method="post">
            <input type="text" class="form-control form-rounded" name="searchTerm" placeholder="Enter keywords for search...">
            <button type="submit">Search</button>
        </form>

        <div class="content">
            <section class="featured-recipe">
                <!-- Display the random recipe details -->
                <h2>Featured Recipe</h2>
                <div class="recipe-card">
                    <img th:src="${randomRecipe.strMealThumb}" alt="Recipe Image">
                    <h3 th:text="${randomRecipe.strMeal}"></h3>
                    <p th:text="${randomRecipe.strInstructions}"></p>
                    <p th:text="${randomRecipe.strCategory}"></p>
                    <p th:text="${randomRecipe.strTags}"></p>
                    <p th:text="${randomRecipe.strIngredients}"></p>
                </div>
            </section>
        </div>


    </div>
</header>
</body>
</html>