<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<!--    // ability to click a hyperlink for 'all recipes'-->
<!--    // TO DO ^^^-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Homepage</title>
<!--    // must have thymeleaf th:href and th:src ... trying full file path for troubleshooting purposes-->
<!--    <link rel="stylesheet" type="text/css" href="@{src/main/resources/static/style}" />-->
</head>
<body>
<script th:src="@{/script.js}"></script>
<h1>My Recipe Manager Homepage</h1>
<div id="container">
    <!-- List of recipes will be added here dynamically from the JS static file-->
</div>
</body>
</html>


